<?xml version="1.0" encoding="UTF-8"?>

<phpunit
         colors="true"
         bootstrap="./vendor/autoload.php"
        >

    <testsuites>
        <testsuite name="PaymillBundle Test Suite">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>

    <listeners>
        <listener class="\Mockery\Adapter\Phpunit\TestListener"
                  file="vendor/mockery/mockery/library/Mockery/Adapter/Phpunit/TestListener.php">
        </listener>
    </listeners>
    
    <filter>
        <whitelist>
            <directory suffix=".php">./</directory>
            <exclude>
                <directory>vendor</directory>
                <directory>Tests</directory>
                <directory>build</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
